<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Helloo</h1>
    <p>Edhar Kuch nahi hai Batch pe jao login kark</p>
    <a href="/batches">Chlo Batch pe click karo edhar</a>
    <br> <hr>
    <p>UI pe maine jada kaam nahi kiya hai to dhyan mat dena</p>
    <a href="/saved/batches">Edhar click kark saved batches dekh sakte ho bina login kiye</a>
<br><br>
<hr>
    <p><b>NOTE: </b>Video Play Karne se phile CORS extenstion bhar lena varna videos nahi chalengi</p>
    <a href="https://chromewebstore.google.com/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf">Click Here to install CORS Extenstion</a>
    <br><br>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/">CORS Extenstio(Firefox)</a>
  </body>
</html>
